@theme {
  --color-brand-blue: #1E3E85;
  --color-brand-cyan: #52B4DA;
  --color-brand-light-blue: #336DA6;
  --color-brand-dark: #0a0a0a;
  --color-brand-white: #ffffff;
  --color-background-white: #fcfdfe;
}